@model Instituicao

@{
    ViewData["Title"] = "Deletar Instituição";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-left" style="color: white">Detalhes da Instituição</h3>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Deletar Instituição</h4>
                    <p class="lead">Tem certeza de que deseja remover esta instituição?</p>
                    <dl class="row">
                        <dt class="col-sm-4">Nome:</dt>
                        <dd class="col-sm-8">@Model.Nome</dd>

                        <dt class="col-sm-4">Logradouro:</dt>
                        <dd class="col-sm-8">@Model.Logradouro</dd>

                        <dt class="col-sm-4">Complemento:</dt>
                        <dd class="col-sm-8">@Model.Complemento</dd>

                        <dt class="col-sm-4">Número:</dt>
                        <dd class="col-sm-8">@Model.Numero</dd>

                        <dt class="col-sm-4">Bairro:</dt>
                        <dd class="col-sm-8">@Model.Bairro</dd>

                        <dt class="col-sm-4">Cidade:</dt>
                        <dd class="col-sm-8">@Model.Cidade</dd>

                        <dt class="col-sm-4">CEP:</dt>
                        <dd class="col-sm-8">@Model.Cep</dd>
                    </dl>
                    <form asp-controller="AdminInstituicoes" asp-action="DeletarInstituicaoConfirmada" method="post">
                        <input type="hidden" asp-for="InstituicaoId" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger mr-2">Deletar</button>
                            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
