@model Instituicao
@{
    ViewData["Title"] = "Detalhes";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-left" style="color: white">Detalhes da Instituição</h3>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Instituição</h4>
            <br />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row" class="col-sm-3">Nome:</th>
                        <td class="col-sm-9">@Model.NomeInstituicao</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Responsável:</th>
                        <td class="col-sm-9">@Model.NomeResponsavelInstituicao</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Logradouro:</th>
                        <td class="col-sm-9">@Model.Logradouro</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Complemento:</th>
                        <td class="col-sm-9">@Model.Complemento</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Número:</th>
                        <td class="col-sm-9">@Model.Numero</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Bairro:</th>
                        <td class="col-sm-9">@Model.Bairro</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">Cidade:</th>
                        <td class="col-sm-9">@Model.Cidade</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-3">CEP:</th>
                        <td class="col-sm-9">@Model.Cep</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <a asp-action="EditarInstituicao" asp-route-InstituicaoId="@Model.InstituicaoId" class="btn btn-primary mr-2">Editar</a>
    <a asp-action="Index" asp-controller="AdminInstituicoes" class="btn btn-secondary">Voltar para a Lista</a>
</div>
