@model List<Instituicao>

@{
    ViewData["Title"] = "Lista de Instituições";
}
<div class="container-fluid">
    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Instituições</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success mb-3 form-control rounded w-50" asp-area="Admin" asp-controller="AdminInstituicoes" asp-action="CriarInstituicao">Cadastrar instituição.</a>
        <div class="mt-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-white cor-unifaat">
                        <tr>
                            <th class="text-center" scope="col">Nome</th>
                            <th class="text-center" scope="col">Logradouro</th>
                            <th class="text-center" scope="col">Complemento</th>
                            <th class="text-center" scope="col">Número</th>
                            <th class="text-center" scope="col">Bairro</th>
                            <th class="text-center" scope="col">Cidade</th>
                            <th class="text-center" scope="col">CEP</th>
                            <th class="text-center" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var instituicao in Model)
                        {
                            <tr>
                                <td class="text-center">@instituicao.Nome</td>
                                <td class="text-center">@instituicao.Logradouro</td>
                                <td class="text-center">@instituicao.Complemento</td>
                                <td class="text-center">@instituicao.Numero</td>
                                <td class="text-center">@instituicao.Bairro</td>
                                <td class="text-center">@instituicao.Cidade</td>
                                <td class="text-center">@instituicao.Cep</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-outline-info m-1 rounded" asp-controller="AdminInstituicoes" asp-action="DetalhesInstituicao" asp-route-InstituicaoId="@instituicao.InstituicaoId">Detalhes</a>
                                        <a class="btn btn-outline-warning m-1 rounded" asp-controller="AdminInstituicoes" asp-action="EditarInstituicao" asp-route-InstituicaoId="@instituicao.InstituicaoId">Editar</a>
                                        <a class="btn btn-outline-danger m-1 rounded" asp-controller="AdminInstituicoes" asp-action="DeletarInstituicao" asp-route-InstituicaoId="@instituicao.InstituicaoId">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
