<div class="container-fluid">
    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Estágios</h1>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body bg-light">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group text-center text-white">
                                    <label for="dataInicio">Data de Início:</label>
                                    <input type="date" class="form-control" id="dataInicio" name="dataInicio" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-center text-white">
                                    <label class="text-center" for="raAluno">RA do Aluno:</label>
                                    <input type="text" class="form-control" id="raAluno" name="raAluno" placeholder="Digite o RA do aluno" />
                                </div>
                            </div>
                            <div class="col-md-4 align-self-end">
                                <button type="submit" class="btn btn-outline-primary mt-2">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var estagio in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header cor-unifaat text-white">
                        Estágio de @estagio.Aluno.NomeCompleto
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Aluno:</strong> @estagio.Aluno.NomeCompleto</p>
                        <p class="card-text"><strong>Instituição:</strong> @estagio.Instituicao.Nome</p>
                        <p class="card-text"><strong>Data de Início:</strong> @estagio.DataEstagio.ToShortDateString()</p>
                        <p class="card-text"><strong>Status:</strong> @estagio.StatusEstagio</p>
                    </div>
                    <div class="card-footer bg-light">
                        <div class="btn-group d-flex justify-content-center" role="group">
                            <a class="btn btn-outline-info m-1 rounded" asp-controller="AdminEstagios" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId">Detalhes</a>
                            <a class="btn btn-outline-danger m-1 rounded" asp-controller="AdminEstagios" asp-action="GerarPdfEstagio" asp-route-EstagioId="@estagio.EstagioId">Gerar PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
