@model Consulta

@{
    ViewData["Title"] = "Detalhes";
}
<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-left" style="color: white">Detalhes da Consulta</h3>
    </div>
    <hr />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Consulta</h4>

            <dl class="row">
                <dt class="col-sm-3">Status da Consulta:</dt>
                <dd class="col-sm-9">@Model.StatusConsulta</dd>

                <dt class="col-sm-3">Nome do Paciente:</dt>
                <dd class="col-sm-9">@Model.Usuario.NomeCompleto</dd>

                <dt class="col-sm-3">CPF do Paciente:</dt>
                <dd class="col-sm-9">@Model.Usuario.Cpf</dd>

                <dt class="col-sm-3">Data de Nascimento do Paciente:</dt>
                <dd class="col-sm-9">@Model.Usuario.DataNascimento.ToString("dd-MM-yyyy")</dd>

                <dt class="col-sm-3">Data da Consulta:</dt>
                <dd class="col-sm-9">@Model.DataConsulta.Data.ToString("dd-MM-yyyy")</dd>

                <dt class="col-sm-3">Horário da consulta:</dt>
                <dd class="col-sm-9">@Model.DataConsulta.Data.ToString("HH-mm")</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>
