@model IEnumerable<AppUnipsico.Models.Consulta>

@{
    ViewData["Title"] = "Lista de consultas";
}

<h1 class="text-center">Consultas</h1>
<br />
<p>
    <a class="btn btn-primary form-control" asp-action="Create">Criar nova Consulta</a>
</p>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Data Consulta</th>
            <th class="text-center">Status Consulta</th>
            <th class="text-center">Paciente Id</th>
            <th class="text-center">Horário da Consulta</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @item.DataConsulta.Data.ToShortDateString()
                </td>
                <td class="text-center">
                    @item.StatusConsulta
                </td>
                <td class="text-center">
                    @item.Usuario.Id
                </td>
                <td class="text-center">
                    @item.DataConsulta.Data.ToShortTimeString()
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-info m-1 rounded" asp-action="Details" asp-route-id="@item.ConsultaId">Detalhes</a>
                        <a class="btn btn-warning m-1 rounded" asp-action="Edit" asp-route-id="@item.ConsultaId">Editar</a>
                        <a class="btn btn-danger m-1 rounded" asp-action="Delete" asp-route-id="@item.ConsultaId">Deletar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
