@model IEnumerable<AppUnipsico.Models.Consulta>

@{
    ViewData["Title"] = "Lista de consultas";
}
<div class="container-fluid">
    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Consultas</h1>
    </div>
    <div class="row justify-content-center">
        <p><a class="btn text-center form-control btn-outline-success btn" asp-action="CriarConsulta">Agendar consulta</a></p>
        <div class="col-md-10">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Consulta
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Data:</strong> @item.DataConsulta.Data.ToShortDateString()</li>
                                    <li class="list-group-item"><strong>Status:</strong> @item.StatusConsulta</li>
                                    <li class="list-group-item"><strong>Paciente:</strong> @item.Usuario.NomeCompleto</li>
                                    <li class="list-group-item"><strong>Horário:</strong> @item.DataConsulta.Data.ToShortTimeString()</li>
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-info rounded m-1" asp-action="DetalhesConsulta" asp-route-ConsultaId="@item.ConsultaId">Detalhes</a>
                                    <a class="btn btn-warning rounded m-1" asp-action="EditarConsulta" asp-route-ConsultaId="@item.ConsultaId">Editar</a>
                                    <a class="btn btn-danger rounded m-1" asp-action="DeletarConsulta" asp-route-ConsultaId="@item.ConsultaId">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
