@model IEnumerable<AppUnipsico.Models.Consulta>

@{
    ViewData["Title"] = "Lista de consultas";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="mb-3 text-left" style="color: white">Consultas</h3>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <a class="btn btn-success w-25 gap-2 d-flex justify-content-center align-items-center" asp-action="CriarConsulta"><i class="fa-lg bi-journal-check"></i>Agendar consulta</a>
    </div>
    <div class="row justify-content-left">
        <div class="col-md-10">
            <div class="row mt-5">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-md-2 mb-2 m-2">
                            <div class="card" style="border-top: 5px solid #00365d">
                                <div class="card-body d-flex flex-column">
                                    <div>
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">@item.DataConsulta.Data.ToShortDateString()</p>
                                        <h6 class="font-weight-bolder">@item.StatusConsulta</h6>
                                        <p class="font-weight-bold text-xs mb-0">@item.Usuario.NomeCompleto</p>
                                        <p class="font-weight-bolder mb-0">@item.DataConsulta.Data.ToShortTimeString()</p>
                                    </div>
                                    <div class="mt-auto text-end">
                                        <a asp-action="DetalhesConsulta" asp-route-ConsultaId="@item.ConsultaId"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
                                        <a asp-action="EditarConsulta" asp-route-ConsultaId="@item.ConsultaId"><i class="fas fa-pen-fancy"></i></a>
                                        <a asp-action="DeletarConsulta" asp-route-ConsultaId="@item.ConsultaId"><i class="fas fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            Não foram encontradas consultas.
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


