@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> userManager
@inject SignInManager<Usuario> signInManager
@{
    var user = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/assets/icone-unifaat.ico" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/AppUnipsico.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/nucleo-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/argon-dashboard.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-150 cor-unifaat position-absolute w-100 top-0"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">
        <div class="sidenav-header">
            <a class="navbar-brand m-0 text-center" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/assets/img/unifaat/logo-unipsico-azul.svg" class="navbar-brand-img h-100" alt="main_logo">
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @if (signInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Paciente"))
                    {
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="" asp-controller="Datas" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-calendar-grid-58 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Datas Disponíveis</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="" asp-controller="Consulta" asp-action="ConsultaPaciente">
                                <div class="icon icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="bi bi-file-earmark-post text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Consultas</span>
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Perfil da Conta</h6>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                                <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; margin:0 0 0 0.1em; cursor: pointer;">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">@user.NomeCompleto</span>
                                </button>
                            </form>
                        </li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-tv-2 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminConsultas" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-single-copy-04 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Consultas</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminUsuarios" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-single-02 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Usuários</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminDatas" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-calendar-grid-58 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Datas de Consultas</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminEstagios" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-hat-3 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Estágios</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminInstituicoes" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-building text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Instituições</span>
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Perfil</h6>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                                <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; margin:0 0 0 0.1em; cursor: pointer;">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">@user.NomeCompleto</span>
                                </button>
                            </form>
                        </li>
                    }
                    else if (User.IsInRole("Aluno"))
                    {
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Aluno" asp-controller="Aluno" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-tv-2 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link " asp-area="Aluno" asp-controller="Aluno" asp-action="Estagios">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-archive-2 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Estágios</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link " asp-area="Aluno" asp-controller="Aluno" asp-action="Presencas">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-hat-3 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Presenças</span>
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Perfil da Conta</h6>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                                <button type="submit" class="nav-link" style="background: none; border: none; padding: 0;margin:0 0 0 0.1em; cursor: pointer;">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">@user.NomeCompleto</span>
                                </button>
                            </form>
                        </li>
                    }
                    else if (User.IsInRole("Professor"))
                    {
                        <li class="nav-item d-flex justify-content-start">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminEstagios" asp-action="Index">
                                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="ni ni-hat-3 text-sm opacity-10" style="color: #00365d"></i>
                                </div>
                                <span class="nav-link-text ms-1">Estágios</span>
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Perfil da Conta</h6>
                        </li>
                        <li class="nav-item d-flex justify-content-start">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                                <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; margin:0 0 0 0.1em;  cursor: pointer;">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">@user.NomeCompleto</span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item d-flex justify-content-start">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-circle-08 text-sm opacity-10" style="color: #00365d"></i>
                            </div>
                            <span class="nav-link-text ms-1">Login</span>
                        </a>
                    </li>
                    <li class="nav-item d-flex justify-content-start">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                            <div class="icon icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-person-plus-fill" style="color: #00365d"></i>
                            </div>
                            <span class="nav-link-text ms-1">Registrar</span>
                        </a>
                    </li>
                    <li class="nav-item d-flex justify-content-start">
                        <a class="nav-link" asp-area="" asp-controller="Estagios" asp-action="Index">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-hat-3 text-sm opacity-10" style="color: #00365d"></i>
                            </div>
                            <span class="nav-link-text ms-1">Buscar Estágios</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        @RenderBody()
    </main>
    <footer class="border-top footer-unifaat text-muted bg-white">
        <div class="container d-flex justify-content-center">
            <p class="text-justify fs-6 text-muted m-2">Desenvolvido por <strong>João Victor</strong> &amp; <strong>Renan Lima</strong></p>
            <p class="text-justify fs-6 text-muted m-2">&copy; 2024 - Todos os direitos reservados</p>
        </div>
    </footer>
    <br />
    <br />
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script>
        var ctx1 = document.getElementById("chart-line").getContext("2d");

        var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
        gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
        gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
        new Chart(ctx1, {
            type: "line",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Mobile apps",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#5e72e4",
                    backgroundColor: gradientStroke1,
                    borderWidth: 3,
                    fill: true,
                    data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                    maxBarThickness: 6

                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            padding: 10,
                            color: '#fbfbfb',
                            font: {
                                size: 11,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#ccc',
                            padding: 20,
                            font: {
                                size: 11,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });
    </script>
    <script src="~/assets/js/site.js"></script>
    <script src="~/assets/js/argon-dashboard.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/argon-dashboard.min.js"></script>
    <script src="~/assets/js/core/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

