@model Estagio

@{
    ViewData["Title"] = "Detalhes do Estágio";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="mb-3 text-left" style="color: white">Detalhes do Estágio</h3>
    </div>
    <hr />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Estágio</h4>

            <dl class="row">
                <dt class="col-sm-3">Data de Início do Estágio:</dt>
                <dd class="col-sm-9">@Model.DataEstagio.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Status:</dt>
                <dd class="col-sm-9">@Model.StatusEstagio</dd>

                <dt class="col-sm-3">Aluno:</dt>
                <dd class="col-sm-9">@Model.Aluno.NomeCompleto</dd>

                <dt class="col-sm-3">RA do Aluno:</dt>
                <dd class="col-sm-9">@Model.Aluno.RA</dd>

                <dt class="col-sm-3">Instituição:</dt>
                <dd class="col-sm-9">@Model.Instituicao.Nome</dd>

                <dt class="col-sm-3">Endereço da Instituição:</dt>
                <dd class="col-sm-9">
                    @Model.Instituicao.Logradouro, @Model.Instituicao.Numero, @Model.Instituicao.Complemento<br />
                    @Model.Instituicao.Bairro, @Model.Instituicao.Cidade, @Model.Instituicao.Cep
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Estagios" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>

