@using AppUnipsico.Enums
@model List<Estagio>

@{
    ViewData["Title"] = "Estágios";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-white mb-3 text-left responsividade-textos-cabecalho">Estágios</h3>
    </div>
    <div class="text-center">
        <a class="btn btn-success rounded col-md-6 responsividade-textos-cabecalho" asp-controller="Aluno" asp-action="SolicitarEstagio">Solicitar estágio</a>
    </div>
    @if (Model.Any())
    {
        <br />
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Estagios" method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dataInicio">Data de Início:</label>
                                        <input type="date" class="form-control" id="dataInicio" name="dataInicio" />
                                    </div>
                                </div>
                                <div class="col-md-6 align-self-end">
                                    <button type="submit" class="btn btn-outline-primary mt-4">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h3 class="text-left mb-3" style="color: #e3b427">Estágios Pendentes</h3>
        <div class="row justify-content-center">
            @foreach (var estagio in Model.Where(e => e.StatusEstagio == EstagioEnum.Solicitado))
            {
                <div class="col-md-2 mb-2 m-2">
                    <div class="card" style="border-top: 5px solid #e3b427">
                        <div class="card-body d-flex flex-column">
                            <div>
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">@estagio.Aluno.NomeCompleto</p>
                                <h6 class="font-weight-bolder">@estagio.Instituicao.NomeInstituicao</h6>
                                <p class="font-weight-bold text-xs mb-0">Data de Solicitação</p>
                                <p class="font-weight-bolder mb-0">@estagio.DataEstagio.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="mt-auto text-end">
                                <a title="Detalhes" class="p-1" asp-controller="Aluno" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.Any(e => e.StatusEstagio == EstagioEnum.Solicitado))
            {
                <div class="col-md-12 text-center">
                    <p>Nenhum estágio pendente encontrado.</p>
                </div>
            }
        </div>
        <br />
        <h3 class="text-left mb-3" style="color: #2dce89">Estágios Aprovados</h3>
        <div class="row justify-content-center">
            @foreach (var estagio in Model.Where(e => e.StatusEstagio == EstagioEnum.Aprovado))
            {
                <div class="col-md-2 mb-2 m-2">
                    <div class="card" style="border-top: 5px solid #2dce89">
                        <div class="card-body d-flex flex-column">
                            <div>
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">@estagio.Aluno.NomeCompleto</p>
                                <h6 class="font-weight-bolder">@estagio.Instituicao.NomeInstituicao</h6>
                                <p class="font-weight-bold text-xs mb-0">Data de Solicitação</p>
                                <p class="font-weight-bolder mb-0">@estagio.DataEstagio.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="mt-auto text-end">
                                <a title="Detalhes" class="p-1" asp-controller="Aluno" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></a>
                                <a title="Gerar PDF" alt="Gerar PDF" class="p-1" asp-controller="Aluno" asp-action="GerarPdfEstagio" asp-route-EstagioId="@estagio.EstagioId"><i class="fas fa-file-pdf fa-lg" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.Any(e => e.StatusEstagio == EstagioEnum.Aprovado))
            {
                <div class="col-md-12 text-center">
                    <p>Nenhum estágio aprovado encontrado.</p>
                </div>
            }
        </div>
        <br />
        <h3 class="mb-3 text-left" style="color: #f5365c">Estágios Reprovados</h3>
        <div class="row justify-content-center">
            @foreach (var estagio in Model.Where(e => e.StatusEstagio == EstagioEnum.Reprovado))
            {
                <div class="col-md-2 mb-2 m-2">
                    <div class="card" style="border-top: 5px solid #f5365c">
                        <div class="card-body d-flex flex-column">
                            <div>
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">@estagio.Aluno.NomeCompleto</p>
                                <h6 class="font-weight-bolder">@estagio.Instituicao.NomeInstituicao</h6>
                                <p class="font-weight-bold text-xs mb-0">Data de Solicitação</p>
                                <p class="font-weight-bolder mb-0">@estagio.DataEstagio.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="mt-auto text-end">
                                <a title="Detalhes" asp-controller="Aluno" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.Any(e => e.StatusEstagio == EstagioEnum.Reprovado))
            {
                <div class="col-md-12 text-center">
                    <p>Nenhum estágio reprovado encontrado.</p>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Nenhum estágio encontrado</h4>
                        <p class="text-center">Não há nenhum estágio disponível no momento.</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
