@using AppUnipsico.Enums
@model List<Estagio>

@{
    ViewData["Title"] = "Estágios";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Estágios</h1>
    </div>
    <div>
        <a class="btn btn-outline-success form-control m-1 rounded" asp-controller="Aluno" asp-action="SolicitarEstagio">Solicitar estágio</a>
    </div>
    @if (Model.Any())
    {
        <br />
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <!-- Increased width -->
                <form asp-action="Estagios" method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dataInicio">Data de Início:</label>
                                <input type="date" class="form-control" id="dataInicio" name="dataInicio" />
                            </div>
                        </div>
                        <div class="col-md-6 align-self-end">
                            <button type="submit" class="btn btn-outline-primary mt-4">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="bg-light rounded mb-4">
            <h2 class="text-center mb-3">Estágios Pendentes</h2>
            <div class="row justify-content-center">
                @foreach (var estagio in Model.Where(e => e.StatusEstagio == EstagioEnum.Solicitado))
                {
                    <div class="col-md-4 mb-4">
                        <div class="card border-primary">
                            <div class="card-header bg-primary text-white">
                                Estágio de @estagio.Aluno.NomeCompleto
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Instituição:</strong> @estagio.Instituicao.Nome</p>
                                <p class="card-text"><strong>Data de solicitação:</strong> @estagio.DataEstagio.ToShortDateString()</p>
                                <p class="card-text"><strong>Status do estágio:</strong> @estagio.StatusEstagio</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-info m-1 rounded" asp-controller="Aluno" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId">Detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!Model.Any(e => e.StatusEstagio == EstagioEnum.Solicitado))
                {
                    <div class="col-md-12 text-center">
                        <p>Nenhum estágio pendente encontrado.</p>
                    </div>
                }
            </div>
        </div>

        <div class="bg-light rounded">
            <h2 class="text-center mb-3">Estágios Aprovados</h2>
            <div class="row justify-content-center">
                @foreach (var estagio in Model.Where(e => e.StatusEstagio == EstagioEnum.Aprovado))
                {
                    <div class="col-md-4 mb-4">
                        <div class="card border-success">
                            <div class="card-header bg-success text-white">
                                Estágio de @estagio.Aluno.NomeCompleto
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Instituição:</strong> @estagio.Instituicao.Nome</p>
                                <p class="card-text"><strong>Data de solicitação:</strong> @estagio.DataEstagio.ToShortDateString()</p>
                                <p class="card-text"><strong>Status do estágio:</strong> @estagio.StatusEstagio</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-info m-1 rounded" asp-controller="Aluno" asp-action="Detalhes" asp-route-EstagioId="@estagio.EstagioId">Detalhes</a>
                                    <a class="btn btn-outline-danger m-1 rounded" asp-controller="Aluno" asp-action="GerarPdfEstagio" asp-route-EstagioId="@estagio.EstagioId">Gerar PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!Model.Any(e => e.StatusEstagio == EstagioEnum.Aprovado))
                {
                    <div class="col-md-12 text-center">
                        <p>Nenhum estágio aprovado encontrado.</p>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="bg-light rounded text-center p-3">
            <h2 class="mb-3">Nenhum estágio encontrado</h2>
            <p>Infelizmente, não há nenhum estágio disponível no momento.</p>
        </div>
    }
</div>
