@model IEnumerable<AppUnipsico.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="mb-3 text-center">Listagem de usuários</h1>
    <br />
    <p>
        <a class="btn btn-primary form-control" asp-action="Create">Criar novo usuário</a>
    </p>
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.UserName)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Cpf)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.DataNascimento)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.DataRegistro)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Cpf)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.DataRegistro)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
