@using AppUnipsico.Utilities
@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Usuários</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success mb-3 form-control rounded w-50" asp-area="Admin" asp-controller="AdminUsuarios" asp-action="Register">Criar novo usuário</a>
        <div class="mt-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table cor-unifaat">
                        <tr>
                            <th class="text-center text-white" scope="col">Nome Completo</th>
                            <th class="text-center text-white" scope="col">CPF</th>
                            <th class="text-center text-white" scope="col">Data de Nascimento</th>
                            <th class="text-center text-white" scope="col">Data de Registro</th>
                            <th class="text-center text-white" scope="col">Email</th>
                            <th class="text-center text-white" scope="col">Tipo de Usuário</th>
                            <th class="text-center text-white" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <td class="text-center">@usuario.NomeCompleto</td>
                                <td class="text-center">@usuario.Cpf</td>
                                <td class="text-center">@usuario.DataNascimento.ToShortDateString()</td>
                                <td class="text-center">@usuario.DataRegistro.ToShortDateString()</td>
                                <td class="text-center">@usuario.Email</td>
                                <td class="text-center">@usuario.TipoUsuario</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-info btn-sm rounded m-1" asp-controller="AdminUsuarios" asp-action="DetalhesUsuario" asp-route-UsuarioId="@usuario.Id">Detalhes</a>
                                        <a class="btn btn-danger btn-sm rounded m-1" asp-controller="AdminUsuarios" asp-action="DeletarUsuario" asp-route-UsuarioId="@usuario.Id">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
