@using AppUnipsico.Utilities
@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="mb-3 text-left" style="color: white">Usuários</h3>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success col-2 rounded" asp-area="Admin" asp-controller="AdminUsuarios" asp-action="Register"><i class="ni ni-single-02"></i>Criar novo usuário</a>
        <div class="mt-5">
            <div class="table-responsive" style="border-radius: 15px">
                <table class="table table-striped">
                    <thead class="table cor-unifaat">
                        <tr>
                            <th class="text-center text-white" scope="col">NOME COMPLETO</th>
                            <th class="text-center text-white" scope="col">CPF</th>
                            <th class="text-center text-white" scope="col">DATA DE NASCIMENTO</th>
                            <th class="text-center text-white" scope="col">DATA DE REGISTRO</th>
                            <th class="text-center text-white" scope="col">E-MAIL</th>
                            <th class="text-center text-white" scope="col">TIPO</th>
                            <th class="text-center text-white" scope="col">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <td class="text-center">@usuario.NomeCompleto</td>
                                <td class="text-center">@usuario.Cpf</td>
                                <td class="text-center">@usuario.DataNascimento.ToShortDateString()</td>
                                <td class="text-center">@usuario.DataRegistro.ToShortDateString()</td>
                                <td class="text-center">@usuario.Email</td>
                                <td class="text-center">@usuario.TipoUsuario</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary rounded m-1" asp-controller="AdminUsuarios" asp-action="DetalhesUsuario" asp-route-UsuarioId="@usuario.Id">Detalhes</a>
                                        <a class="btn btn-outline-danger rounded m-1" asp-controller="AdminUsuarios" asp-action="DeletarUsuario" asp-route-UsuarioId="@usuario.Id">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
