@model Paginacao<Datas>


@{
    ViewData["Title"] = "Datas de Consultas";
}

<div class="container-fluid">

    <div class="p-3 mb-3">
        <h1 class="mb-3 text-center">Datas de Consultas Disponíveis</h1>
    </div>
    <form class="d-flex justify-content-center gap-5" asp-controller="AdminDatas" asp-action="InserirDatasDisponiveis" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx, .xls">
        <button class="btn btn-success mb-3 form-control rounded w-25" type="submit">Enviar Excel</button>
    </form>
    @if (Model.Any())
    {
        <div class="table-responsive mt-5">
            <table class="table table-bordered table-striped">
                <thead class="cor-unifaat text-white">
                    <tr class="text-center">
                        <th class="text-center">Data da Consulta</th>
                        <th class="text-center">Horário da Consulta</th>
                        <th class="text-center">Status da Data</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr class="text-center">
                            <td class="text-center">@data.Data.ToShortDateString()</td>
                            <td class="text-center">@data.Data.ToShortTimeString()</td>
                            <td class="text-center">@data.Status</td>
                            <td class="text-center">
                                <a asp-controller="AdminDatas" asp-action="DeletarData" asp-route-DataId="@data.Id" class="btn btn-outline-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            @if (Model.HasPreviousPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-primary">&laquo; Anterior</a>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a asp-action="Index" asp-route-page="@i" class="btn btn-secondary @(i == Model.PageIndex ? "active" : "")">@i</a>
            }

            @if (Model.HasNextPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-primary">Próximo &raquo;</a>
            }
        </div>
    }
    else
    {
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Mensagem:</h4>
                        <p class="text-center">Nenhuma consulta encontrada</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>